<div class="fx-recovery">
    <div class="login-shape">
        <p class="title" i18n>Recovery Password Page</p>
        <p>
            Type your email and you will receive an email with a link to recovery your email account
        </p>
        <form [formGroup]="formRecovery">
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label i18n>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" >
                <mat-hint i18n>Type your email</mat-hint>
                <mat-error *ngIf="email?.errors?.['required']">Email is required*</mat-error>
                <mat-error *ngIf="email?.errors?.['email']">The field email has not the format required*</mat-error>
            </mat-form-field>
            <button type="button" color="primary" class="button-recovery" 
                [disabled]="formRecovery.invalid" mat-raised-button i18n>
                <mat-icon matPrefix>send</mat-icon>
                Send Email
            </button>
        </form>
    </div>
</div>
