.base-bg {
    width: 100%;
    height: 100%;
    
    background-image: url('/assets/images/authentication/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}